#!/bin/sh
# Copyright 2017 Sylvain Boily
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        python setup.py bdist
        ;;

    package)
        tar xvf dist/wazo_confgend_driver_pjsip-*.tar.gz -C ${pkgdir}
        cp -R etc ${pkgdir}/
        ;;

    install)
	chown asterisk.www-data /etc/asterisk/pjsip.conf
	chown asterisk.www-data /etc/asterisk/extensions_extra.d/pjsip.conf
	chmod 660 /etc/asterisk/pjsip.conf
	chmod 660 /etc/asterisk/extensions_extra.d/pjsip.conf
	sed -i '/\(^noload.*pj.*\)/s/^/;/' /etc/asterisk/modules.conf
	systemctl restart xivo-confgend
	systemctl restart asterisk
        systemctl restart xivo-ctid
        ;;

    uninstall)
	sed -i '/\(^;noload.*pj.*\)/s/^;//' /etc/asterisk/modules.conf
        systemctl restart xivo-confgend
        systemctl restart asterisk
        systemctl restart xivo-ctid
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
